html {
    background: url("http://i.imgur.com/b9r5sEL.jpg");
    font-family: 'Noto Sans KR', sans-serif;
}

.keys {
    text-align: center;
    padding-top: 10%;
}

.key {
    display: inline-block;
    transition: all 0.07s;
    width: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px #000;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.key.playing {
    transform: scale(1.1);
    border: 2px solid #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.key .sound {
    font-size: 12px;
    color: #ffc600;
    padding-top:5px;
}

